#!/bin/bash

PRERUN_PATH=/prerun
POSTRUN_PATH=/postrun
EXTRA_CONFIG_PATH=/config

for script in `ls $PRERUN_PATH/* 2> /dev/null`; do
    echo "Running $script before entrypoint"
    /bin/bash $script
done

for script in `ls $EXTRA_CONFIG_PATH/* 2> /dev/null`; do
    echo "Running $script to run extra config set script"
    /bin/bash $script
done

python3 /scripts/agent.py /scripts {{additional["agent"]["port"]}} &

exec "$@"
