coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port={{hosts["presto-coordinator"]["port"]}}
query.max-memory=4GB
query.max-memory-per-node=512MB
query.max-total-memory-per-node=1GB
discovery-server.enabled=true
discovery.uri=http://{{hosts["presto-coordinator"]["host"]}}:{{hosts["presto-coordinator"]["port"]}}
