CREATE USER {{hive_metastore["metastore-db-user"]}} WITH PASSWORD '{{hive_metastore["metastore-db-password"]}}';
CREATE DATABASE metastore OWNER {{hive_metastore["metastore-db-user"]}};
GRANT ALL PRIVILEGES ON DATABASE {{hive_metastore["metastore-db-name"]}} TO {{hive_metastore["metastore-db-user"]}};
