#!/bin/bash
su --preserve-environment spark -c "mkdir /tmp/spark-thrift-log && $SPARK_HOME/sbin/start-thriftserver.sh --properties-file $SPARK_HOME/conf/spark-defaults.conf --conf spark.eventLog.dir=/tmp/spark-thrift-log --hiveconf hive.server2.thrift.port={{spark_thrift["thrift-port"]}} --hiveconf hive.server2.thrift.bind.host={{spark_thrift["host"]}} --hiveconf hive.server2.thrift.http.port={{spark_thrift["http-port"]}}"



